{% extends "base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <h4 class="mb-3 text-center">Голосование за лучшего докладчика</h4>
    <div class="d-flex justify-content-center">
        <div class="col-md-8">
            {% if error %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endif %}
            {% if message %}<div class="alert alert-success" role="alert">{{ message }}</div>{% endif %}
            <form action="/vote" method="post">
                <div id="reportFormParent">
                    <div id="reportForm">
                        <div class="mb-3">
                            <label class="form-label">
                                <strong>Введите выданный id участника</strong>
                                <input type="login" class="form-control" name="code" value="" required>
                            </label>
                        </div>
                        <p class="fs-6 mb-3 mt-4">
                            <strong>Выберите лучший доклад:</strong>
                        </p>
                        {% for report in reports %}
                            <div class="form-check border border-2 rounded">
                                <label class="form-check-label p-2">
                                    <input class="form-check-input"
                                           type="radio"
                                           name="report"
                                           value="{{ report[0] }}"
                                           {% if report[0] == selected %}checked{% endif %}>
                                    {{ report[1] }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr class="my-5">
                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
