
{% extends "base.jinja" %}

{% block title %}{{title}}{% endblock %}

{% block main %}
<p>{{error}}</p>
<form id="registrationForm" action="/user/account" method="POST">
  <div class="mb-3">
    <label class="form-label">Адресс электронной почты
      <input
        type="email" class="form-control" name="email"
        value="{{user.email}}" required
      >
    </label>
  </div>

  <div class="mb-3">
    <label class="form-label">Роль пользователя
      <select class="form-control" name="role">
        {% for role in roles %}
          {% if user.role == role[0] %}
            <option value="{{role[0]}}" selected>{{role[1]}}</option>
          {% else %}
            <option value="{{role[0]}}">{{role[1]}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </label>
  </div>
  
  <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
  </div>    
</form>

<form action="/user/logout" method="post" class="d-inline">
  <button type="submit" class="btn btn-danger">
    <i class="bi bi-box-arrow-right"></i> Выйти
  </button>
</form>
{% endblock %}
