{% extends "schedule_base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block fill %}
    <p class="text-break fs-5 lh-base px-2 pt-3">
        Конференции традиционно проводятся два раза в год — весной и осенью. С докладами выступают студенты АУ
        и учащиеся ФТШ, а также гости из других университетов. Слушателями становятся студенты младших курсов,
        преподаватели и сотрудники АУ и Лицея ФТШ, а также ученые ФТИ им. А.Ф. Иоффе.
    </p>
    <p class="text-break text-center fs-5 lh-base p-2 border border-3 rounded border-primary">
        Организаторами Конференции являются студенты Академического Университета им. Ж.И. Алфёрова. Конференция
        проводится на добровольных началах, участие в Конференции бесплатное.
    </p>
    <hr class="my-5">
    <p class="h3 px-2 text-uppercase">
        <strong>Подать заявку:</strong>
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">
        Участие в Конференции очное. Чтобы подать заявку на V Студенческую Конференцию АУ, нужно заполнить
        форму докладчика.
    </p>
    <br>
    <p class="h3 pt-3 px-2 text-uppercase">
        <strong>Стать гостем:</strong>
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">
        Посетить Конференцию без доклада может любой желающий по предварительной регистрации на сайте с
        указанием роли “гость”.
    </p>
    <br>
    <p class="h3 pt-3 px-2 text-uppercase">
        <strong>Контакты:</strong>
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">
        По всем вопросам обращаться по адресу daryashishkina@list.ru или в телеграм @daryashishkinaa (Дарья).
    </p>
    <br>
    <p class="h3 pt-3 px-2 text-uppercase">
        <strong>Информация о прошлых конференциях</strong>
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">Темы докладов, заслушанных на прошедших конференциях:</p>
    <ul class="ms-5 fs-5">
        <li class="pb-2 fs-5">Степень вторичного функционала гладкого отображения</li>
        <li class="pb-2 fs-5">Синтез излучающих InAs квантовых точек на кремнии</li>
        <li class="pb-2 fs-5">Задача о четырёх красках</li>
        <li class="pb-2 fs-5">Закрученный свет</li>
        <li class="pb-2 fs-5">Генная терапия: основные принципы и перспективы развития</li>
        <li class="pb-2 fs-5">Великий фильтр или как теория вероятностей смотрит на человечество</li>
        <li class="pb-2 fs-5">Оценка патогенности вариаций при кардиомиопатии</li>
        <li class="pb-2 fs-5">Постоянная Хаббла</li>
        <li class="pb-2 fs-5">Разработка системы трансфекции на основе массива полупроводниковых нитевидных нанокристаллов</li>
        <li class="pb-2 fs-5">Поиск экзопланет, потенциально пригодных для жизни</li>
        <li class="pb-2 fs-5">Регуляция геномов коронавирусов</li>
        <li class="pb-2 fs-5">Влияние оптической накачки на форму контура поглощения в парах рубидия</li>
        <li class="pb-2 fs-5">Исследование фона гамма-излучения и заряженных частиц на низкой околоземной орбите</li>
        <li class="pb-2 fs-5">Демоны фагома</li>
        <li class="pb-2 fs-5">
            Датчик магнитного поля на основе алмазной частицы SDND, совмещенный с атомно-силовой микроскопией
        </li>
        <li class="pb-2 fs-5">
            Диффузия атомов щелочных металлов в газовой ячейке при возбуждении бихроматическим лазерным излучением
        </li>
        <li class="pb-2 fs-5">Расширение задачи о коллекционировании купонов</li>
    </ul>
{% endblock %}
