{% extends "schedule_base.jinja" %}

{% block title %}{{title}}{% endblock %}

{% block fill %}
<div class="card text-center" style="width: 40rem;">
    <h4 class="card-header">Вход</h4>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Мы никогда никому не передадим ваш адрес эл. почты!</div>
            </div>
            <div class="mb-3">
                <label for="InputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div> 
</div>
{% endblock %}
