{% extends "base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <div class="text-center">
        <h1>{{ code }}</h1>
        <p>{{ message }}</p>
        <p>{{ error|default('', true) }}</p>
    </div>
{% endblock %}
