{% extends "base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <h4 class="mb-3 text-center">
        <strong>Фотографии с первой студенческой конференции:</strong>
    </h4>
    {% include "gallery/conf_1.jinja" %}
    <h4 class="mb-3 mt-5 text-center">
        <strong>Фотографии со второй студенческой конференции:</strong>
    </h4>
    {% include "gallery/conf_2.jinja" %}
    <h4 class="mb-3 mt-5 text-center">
        <strong>Фотографии с третьей студенческой конференции:</strong>
    </h4>
    {% include "gallery/conf_3.jinja" %}
    <h4 class="mb-3 mt-5 text-center">
        <strong>Фотографии с четвертой студенческой конференции:</strong>
    </h4>
    {% include "gallery/conf_4.jinja" %}
{% endblock %}
