{% extends "schedule_base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block fill %}
    <p class="fs-3 text-center mt-5">
        <strong>Добро пожаловать на сайт студенческой конференции Академического университета им. Ж.И. Алфёрова</strong>
    </p>
    <hr class="my-5">
    <div>
        <p class="h3 pt-3 px-2 text-uppercase">
            <strong>Цель конференции:</strong>
        </p>
        <p class="text-break fs-5 lh-base px-2 pt-2">
            Студенческие Конференции Академического Университета направлены на приобретение навыков
            публичного выступления студентами бакалавриата и магистратуры, а также учащимися старших классов школы.
        </p>
        <br>
        <p class="h3 pt-3 px-2 text-uppercase">
            <strong>Тематика:</strong>
        </p>
        <p class="text-break fs-5 lh-base px-2 pt-2">
            Основная специализация Конференций — физика. Приятно, что доклады на Конференции
            охватывают широкий круг вопросов: от вирусов, живых клеток и наноструктур до расширения Вселенной,
            квантовой механики и проектирования различных детекторов.
        </p>
    </div>
{% endblock %}
