{% extends "schedule_base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block fill %}
    <p class="fs-3 text-center mt-5">
        <strong>Добро пожаловать на сайт студенческой конференции Академического университета им. Ж.И. Алфёрова</strong>
    </p>
    <hr class="my-5">
    <div>
        <p class="text-break fs-5 lh-base px-2 pt-2">
            Начинается прием заявок на участие в V Студенческой Конференции Академического Университета.
            В этот раз Конференция посвящена 95-летию со дня рождения Жореса Ивановича Алфёрова.
            С именем великого физика связано не одно поколение ученых. Мы надеемся, что Конференция будет полезна и тем,
            кто только начинает свой путь в науке, независимо от формата участия.
        </p>
        <p class="h3 pt-3 px-2 text-uppercase">
            <strong>Цель конференции:</strong>
        </p>
        <p class="text-break fs-5 lh-base px-2 pt-2">
            Студенческие Конференции Академического Университета направлены на приобретение навыков
            публичного выступления студентами бакалавриата и магистратуры, а также учащимися старших классов школы.
        </p>
        <br>
        <p class="h3 pt-3 px-2 text-uppercase">
            <strong>Тематика:</strong>
        </p>
        <p class="text-break fs-5 lh-base px-2 pt-2">
            Общая специализация докладов на Конференциях — физика. Приятно, что выступления на Конференции
            охватывают широкий круг тем: от фундаментальной науки до ее приложений в разработке приборов и устройств.
        </p>
        <p class="h3 pt-3 px-2 text-uppercase">
            <strong>Программа конференции:</strong>
        </p>
        <p class="text-break fs-5 lh-base px-2 pt-2">
            <a href="/static/abstract_sstm2025.pdf">Сборник тезисов.</a>
            <ul>
                <li>16:00 Открытие, выступление ректора Наумова А.Р.</li>
                <li>16:05 Приглашенный доклад. Алексей Гуняга</li>
                <li>16:25 Елена Шляга "Торцевой полупроводниковый лазер на основе оптических таммовских состояний"</li>
                <li>
                    16:40 Павел Плешаков "Использование микрофлюидики для формирования альгинатных микрогелей с клетками для использования в качестве моделей тканей и органов"
                </li>
                <li>
                    16:55 Анастасия Курилова "Синтез и дизайн гибких металлоорганических каркасов для оптического определения органических соединений"
                </li>
                <li>17:10 Михаил Фофонов "Гордиев узел"</li>
                <li>17:25 Иван Третьяков "Тропический подход к алгоритмам"</li>
                <li>
                    17:40 <a href="/vote" class="text-reset">Голосование</a> на приз зрительских симпатий
                </li>
                <li>17:45 Приглашенный доклад. Алексей Кузнецов</li>
                <li>18:05 Закрытие, подведение итогов</li>
                <li>18:15 Фуршет</li>
            </ul>
            <a href="/vote">Ссылка на голосование.</a>
        </p>
    </div>
{% endblock %}
