{% extends "base.jinja" %}

{% block title %}{{title}}{% endblock %}

{% block main %}
    <div class="container-fluid p-5">
        <div class="d-grid gap-4 d-md-flex justify-content-md-center ms-4">
            <div class="bg-light border rounded-3 col-md-9">
                <p class="text-break fs-4 lh-base px-5 pt-3">
                    Для участия в Конференции с представлением доклада необходимо заполнить форму докладчика после
                    регистрации на сайте. Объем тезисов доклада — 1 страница печатного текста (~4500 символов),
                    разрешается использовать разметку LaTeX. 
                </p>
                <br>
                <h1 class="display-5 pt-3 px-5 text-uppercase"><strong>Регламент и оформление презентации:</strong></h1>
                <ul class="ms-5 fs-4">
                    <li class="pb-2 fs-5">12 минут на устное выступление, 5-7 минут на вопросы аудитории;</li>
                    <li class="pb-2 fs-5">Подготовьте презентацию в цифровом виде заранее, использование меловой доски не предусмотрено;</li>
                    <li class="pb-2 fs-5">На титульном слайде должны быть указаны название доклада и ФИО докладчика;</li>
                    <li class="pb-2 fs-5">Новые для слушателей определения выносите на слайды;</li>
                    <li class="pb-2 fs-5">Не перегружайте слайды текстом, текст должен быть контрастным — темный на светлом фоне (особенности выведения презентации);</li>
                    <li class="pb-2 fs-5">Каждый слайд должен иметь название и номер;</li>
                    <li class="pb-2 fs-5">Цель и задачи (или план) вашего рассказа должны быть обозначены отдельно;</li>
                    <li class="pb-2 fs-5">В конце не забывайте подводить итоги!</li>
                </ul>
                <br>
                <h1 class="display-5 pt-3 px-5 text-uppercase"><strong>Участие:</strong></h1>
                <p class="text-break fs-4 lh-base px-5 pt-3">
                    Конференции объединяют студентов и учащихся всех возрастов, а также регулярно выступают молодые ученые-друзья
                    Академического Университета и Лицея ФТШ с увлекательными лекциями о своих разработках. В роли докладчиков
                    обычно выступают студенты АУ, однако, мы всегда рады желающим из других Университетов. 
                </p>
                <br>
                <p class="text-break fs-4 lh-base px-5 pt-3">
                    Одинаково важны и ценны оригинальные доклады с научной новизной и просветительские доклады по темам, которыми
                    интересуются выступающие помимо учебы. Участие в Конференции может быть наиболее полезным студентам-выпускникам,
                    которые могли бы попрактиковаться в выступлении перед аудиторией до защиты ВКР. Это может быть доклад в формате
                    литературного обзора по теме дипломной работы или представление предварительных результатов оригинального исследования.
                </p>
                <br>
                <p class="text-break fs-4 lh-base px-5 pt-3">
                    Каждому участнику предоставляется уникальная возможность обсуждения своей работы в рамках сессии “вопрос-ответ”
                    после выступления. В неформальной обстановке можно также получить ценные советы от старших коллег и ученых АУ
                    и ФТИ им. Иоффе.
                </p>
            </div>
            
            <div class="col-md-3">
                <div class="border border-success rounded-3 p-3">
                    <ul>
                        <li class="pb-2 fs-5">Начало регистрации - 2 апреля 2025 года</li>
                        <li class="pb-2 fs-5">Окончание приема заявок - 2 мая 2025 года</li>
                        <li class="pb-2 fs-5">Начало конференции - 12 мая 2025 года</li>
                    </ul>
                </div>
                <div class="text-center">
                    <img class="p-2" src="https://i.pinimg.com/originals/5e/45/ce/5e45ce6797d217f8bec5b332f7f4db86.gif"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
