{% extends "schedule_base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block fill %}
    <p class="text-break fs-5 lh-base px-2 pt-2">
        Для участия в НЕконференции с представлением доклада необходимо выбрать формат
        участия “классический” или “нелинейный” после регистрации на сайте и заполнить форму
        докладчика в <a href="/user/account" class="text-reset">личном кабинете</a>.
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">
        В этот раз мы не требуем классические тезисы доклада.
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">
        Для участников в классическом формате в качестве заявки необходимо подготовить один
        слайд презентации по шаблону* (гиперссылка) и далее готовить полную презентацию к
        НЕконференции с обязательным наличием слайда-заявки.
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">
        Для участников в нелинейном формате необходимо указать (наиболее подходящую из
        предложенных) область научной деятельности, которая лучше всего описывает Ваши
        исследования. А также предложить несложную тему для участника, которому предстоит
        разобраться в Вашей науке. Например, это может быть вопрос, с которым Вам пришлось
        разобраться после первой встречи с научным руководителем. Тема доклада должна быть
        такой, чтобы с ней реально было разобраться в течение 14 дней.
    </p>
    <br>
    <p class="h3 pt-2 px-2 text-uppercase">
        <strong>Регламент и оформление презентации:</strong>
    </p>
    <ul class="ms-5 fs-5 pt-2">
        <li class="pb-2 fs-5">5 минут на устное выступление, 3 минуты на вопросы аудитории;</li>
        <li class="pb-2 fs-5">
            Подготовьте презентацию в цифровом виде заранее, использование меловой доски не предусмотрено;
        </li>
        <li class="pb-2 fs-5">На титульном слайде должны быть указаны название доклада и ФИО докладчика и руководителя;</li>
        <li class="pb-2 fs-5">Новые для слушателей определения выносите на слайды;</li>
        <li class="pb-2 fs-5">
            Не перегружайте слайды текстом, текст должен быть контрастным — темный на светлом фоне (особенности выведения презентации);
        </li>
        <li class="pb-2 fs-5">Каждый слайд должен иметь название и номер;</li>
        <li class="pb-2 fs-5">Цель и задачи (или план) вашего рассказа должны быть обозначены отдельно;</li>
        <li class="pb-2 fs-5">В конце не забывайте подводить итоги!</li>
    </ul>
    <br>
{% endblock %}
