{% extends "schedule_base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block fill %}
    <p class="text-break fs-5 lh-base px-2 pt-2">
        Для участия в Конференции с представлением доклада необходимо выбрать формат участия "с докладом"
        после регистрации на сайте и заполнить форму докладчика в <a href="/user/account" class="text-reset">личном кабинете</a>.
        Объем тезисов доклада — 2 страницы печатного текста (~8500 символов), разрешается использовать
        разметку LaTeX. Файл с тезисами оформляется в соответствие с шаблоном(<a href="/static/appl_templates/abstract.docx">doc</a>
        или <a href="/static/appl_templates/abstract.tex">tex</a>). Обязательно
        указание всех соавторов и организаций (для оригинальных докладов), а также наличие списка
        литературы (3-4 источника с doi для научных статей) и глоссария (10-12 определений основных
        терминов, используемых в докладе, расшифровки аббревиатур и другая справочная информация при наличии).
        Примерный объем основного текста — 1 страница печатного текста (~4500 символов).
    </p>
    <br>
    <p class="h3 pt-2 px-2 text-uppercase">
        <strong>Регламент и оформление презентации:</strong>
    </p>
    <ul class="ms-5 fs-5 pt-2">
        <li class="pb-2 fs-5">12 минут на устное выступление, 5-7 минут на вопросы аудитории;</li>
        <li class="pb-2 fs-5">
            Подготовьте презентацию в цифровом виде заранее, использование меловой доски не предусмотрено;
        </li>
        <li class="pb-2 fs-5">На титульном слайде должны быть указаны название доклада и ФИО докладчика;</li>
        <li class="pb-2 fs-5">Новые для слушателей определения выносите на слайды;</li>
        <li class="pb-2 fs-5">
            Не перегружайте слайды текстом, текст должен быть контрастным — темный на светлом фоне (особенности выведения презентации);
        </li>
        <li class="pb-2 fs-5">Каждый слайд должен иметь название и номер;</li>
        <li class="pb-2 fs-5">Цель и задачи (или план) вашего рассказа должны быть обозначены отдельно;</li>
        <li class="pb-2 fs-5">В конце не забывайте подводить итоги!</li>
    </ul>
    <br>
    <p class="h3 pt-2 px-2 text-uppercase">
        <strong>Участие:</strong>
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">
        Конференции объединяют студентов и учащихся всех возрастов В роли докладчиков обычно выступают студенты АУ,
        однако, мы всегда рады желающим из других Университетов. Кроме того, на Конференции регулярно выступают
        молодые ученые-друзья Академического Университета и Лицея ФТШ с увлекательными лекциями о своих разработках.
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">
        Одинаково важны и ценны оригинальные доклады с научной новизной и просветительские доклады по темам, которыми
        интересуются выступающие помимо учебы. Участие в Конференции может быть наиболее полезным студентам-выпускникам,
        которые могли бы попрактиковаться в выступлении перед аудиторией до защиты ВКР. Это может быть доклад в формате
        литературного обзора по теме дипломной работы или представление предварительных результатов оригинального исследования.
    </p>
    <p class="text-break fs-5 lh-base px-2 pt-2">
        Мы рады, что при участии в конференции у докладчиков появляется возможность получить обратную связь по теме
        своей работы от ведущих специалистов АУ и ФТИ им. Иоффе.
    </p>
{% endblock %}
