{% extends "base.jinja" %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <h4 class="mb-3 text-center">Регистрационная форма:</h4>
    <div class="d-flex justify-content-center">
        <div class="col-md-8">
            <form class="needs-validation" action="/user/account" method="post">
                <div class="mb-3">
                    <label class="form-label">
                        Логин
                        <input type="login"
                               class="form-control"
                               name="email"
                               value="{{ user.email|default("") }}"
                               required>
                    </label>
                </div>
                <div class="row g-3">
                    <div class="col-sm-4">
                        <label class="form-label">
                            Фамилия
                            <input type="text"
                                   class="form-control"
                                   placeholder
                                   value="{{ user.surname|default('', true) }}"
                                   required>
                        </label>
                        <div class="invalid-feedback">Это поле необходимо заполнить</div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">
                            Имя
                            <input type="text"
                                   class="form-control"
                                   placeholder
                                   value="{{ user.name|default('', true) }}"
                                   required>
                        </label>
                        <div class="invalid-feedback">Это поле необходимо заполнить</div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">
                            Отчество (если есть)
                            <input type="text"
                                   class="form-control"
                                   value="{{ user.patronymic|default('', true) }}">
                        </label>
                    </div>
                    <div class="col-12">
                        <label class="form-label">
                            Организация (краткое название университета/школы)
                            <input type="text"
                                   class="form-control"
                                   placeholder
                                   value="{{ user.organization|default('', true) }}"
                                   required>
                        </label>
                        <div class="invalid-feedback">Это поле необходимо заполнить</div>
                    </div>
                    <div class="col-12">
                        <label class="form-label">
                            Курс (класс)
                            <input type="number"
                                   class="form-control"
                                   placeholder
                                   value="{{ user.year|default('', true) }}"
                                   required>
                        </label>
                        <div class="invalid-feedback">Это поле необходимо заполнить</div>
                    </div>
                    <div class="col-12">
                        <label class="form-label">
                            Telegram-id (предпочтительно) или адрес электронной почты
                            <input type="text"
                                   class="form-control"
                                   placeholder
                                   value="{{ user.contact|default('', true) }}"
                                   required>
                        </label>
                        <div class="invalid-feedback">Это поле необходимо заполнить</div>
                    </div>
                </div>
                <hr class="my-5">
                <select class="form-select mb-5">
                    <option selected disabled>Формат участия</option>
                    {% for role in roles %}
                    <option value="{{ role[0] }}">{{ role[1] }}</option>
                    {% endfor %}
                </select>
                <div class="col-12">
                    <label class="form-label">
                        <strong>Название доклада:</strong>
                        <input type="text" class="form-control" placeholder value required>
                    </label>
                    <div class="invalid-feedback">Это поле необходимо заполнить</div>
                </div>
                <p class="fs-6 mb-3 mt-4">
                    <strong>Область научного знания, к которой относится тема Вашего доклада:</strong>
                </p>
                <div class="form-group">
                    <div class="form-check border border-2 rounded">
                        <label class="form-check-label p-2">
                            <input class="form-check-input" type="checkbox" value="">
                            Биофизика/биотехнологии
                        </label>
                    </div>
                    <div class="form-check border border-2 rounded">
                        <label class="form-check-label p-2">
                            <input class="form-check-input" type="checkbox" value="">
                            Компьютерные науки (в т.ч. биоинформатика)
                        </label>
                    </div>
                    <div class="form-check border border-2 rounded">
                        <label class="form-check-label p-2">
                            <input class="form-check-input" type="checkbox" value="">
                            Матем. физика (+ теор. вер., теория групп и т.п.)
                        </label>
                    </div>
                    <div class="form-check border border-2 rounded">
                        <label class="form-check-label p-2">
                            <input class="form-check-input" type="checkbox" value="">
                            Медицинская физика
                        </label>
                    </div>
                    <div class="form-check border border-2 rounded">
                        <label class="form-check-label p-2">
                            <input class="form-check-input" type="checkbox" value="">
                            Нанотехнологии
                        </label>
                    </div>
                    <div class="form-check border border-2 rounded">
                        <label class="form-check-label p-2">
                            <input class="form-check-input" type="checkbox" value="">
                            Сюжеты общей физики (1-2 курс)
                        </label>
                    </div>
                    <div class="form-check border border-2 rounded">
                        <label class="form-check-label p-2">
                            <input class="form-check-input" type="checkbox" value="">
                            Теор. физика твердых тел
                        </label>
                    </div>
                    <div class="form-check border border-2 rounded">
                        <label class="form-check-label p-2">
                            <input class="form-check-input" type="checkbox" value="">
                            Физика космоса
                        </label>
                    </div>
                </div>
                <p class="fs-6 mb-3 mt-4">
                    <strong>Ваш доклад оригинальный или научно-популярный?</strong>
                </p>
                <div class="form-check border border-2 rounded">
                    <label class="form-check-label p-2">
                        <input class="form-check-input" type="radio" name="presType" checked>
                        Оригинальный, собственное исследование (с научной новизной)
                    </label>
                </div>
                <div class="form-check border border-2 rounded">
                    <label class="form-check-label p-2">
                        <input class="form-check-input" type="radio" name="presType">
                        Научно-популярный, интересный сюжет/эффект/устройство
                    </label>
                </div>
                <div class="mt-4">
                    <label class="form-label">
                        <strong>Файл с тезисом</strong>
                        <input class="form-control" type="file" required>
                    </label>
                    <div class="invalid-feedback">Неаобходимо выбрать файл!</div>
                </div>
                <hr class="my-5">
                <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <div class="col-md-8">
            <form action="/user/logout" method="post" class="d-inline">
                <button type="submit" class="btn btn-danger btn-lg">
                    <i class="bi bi-box-arrow-right"></i> Выйти
                </button>
            </form>
        </div>
    </div>
{% endblock %}
