{% block carousel_2 %}
    <div id="carousel_2"
         class="carousel carousel-dark slide"
         data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button"
                    data-bs-target="#carousel_2"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"></button>
            <button type="button" data-bs-target="#carousel_2" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#carousel_2" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#carousel_2" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#carousel_2" data-bs-slide-to="4"></button>
            <button type="button" data-bs-target="#carousel_2" data-bs-slide-to="5"></button>
            <button type="button" data-bs-target="#carousel_2" data-bs-slide-to="6"></button>
            <button type="button" data-bs-target="#carousel_2" data-bs-slide-to="7"></button>
        </div>
        <div class="carousel-inner text-center">
            <div class="carousel-item active">
                <div class="carousel-img">
                    <img src="static/img/conference-photo/2-1.webp" class="img-fluid">
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="static/img/conference-photo/2-2.webp" class="img-fluid">
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="static/img/conference-photo/2-3.webp" class="img-fluid">
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="static/img/conference-photo/2-4.webp" class="img-fluid">
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="static/img/conference-photo/2-5.webp" class="img-fluid">
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="static/img/conference-photo/2-6.webp" class="img-fluid">
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="static/img/conference-photo/2-7.webp" class="img-fluid">
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="static/img/conference-photo/2-8.webp" class="img-fluid">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carousel_2"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carousel_2"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}
